{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
	<h1>need help?</h1>
    {% if user.is_authenticated %}
        <div class="form-section">
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Contact Us</legend>
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Submit</button>
                </div>
            </form>
        </div>
    {% else %}
        <a class="btn btn-outline-primary btn-sm" href="{% url 'login' %}">log in to send an email</a>
    {% endif %}
{% endblock content %}