{% extends "base.html" %}
{% load mathfilters %}
{% block content %}
    <div class="flex-container">
        {% for fav in favs %}
            <div class="content-section">
                <img class="article-img" src="{{ fav.image.url }}">
                <div class="media-body">
                    <div class="article-metadata">
                        <small class="text-muted">{{ fav.date_posted|date:"F d, Y" }}</small>
                    </div>
                    <h2><a class="article-title" href="{% url 'item-detail' fav.id %}">{{ fav.name }}</a></h2>
                    <p class="article-content">{{ fav.description }}</p>
                    <p class="article-content">${{ fav.price|div:100 }}</p>
                    {% if fav.sales_limit != -1 %}
                        <p class="article-content">Items Remaining: {{ fav.sales_limit|sub:fav.sold }}</p>
                        {% if fav.sales_limit|sub:fav.sold == 0 %}
                            <p class="sold-out">Sold Out</p>
                        {% endif %}
                    {% endif %}
                    <p class="article-content">{{ fav.favorites.count }} ♡</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}